.form-control.red{
    background-color:red;
}
.todo-container{
    width:400px;
    margin: 40px auto 0 auto;
}
.todoForm{
    margin-bottom:10px;
}
.todoList{
    margin: 10px auto 0 auto;
}
.listItem{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.alertMessage{
    display:none;

}
.todo-name{
    text-decoration:line-through;
}
.deleteall{
    font-size: 25px;
    margin-bottom:10px;
    display: none;
}
.favicon{
    width: 40px;
}

 .favcontainer
 {
    width: 400px;
 }
.fav-title{
    display:none;
}